body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 0;
    background-color: #f0f0f0;
}

.circle {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    opacity: 0.7;
    border: 2px solid black;
}

.red {
    background-color: red;
    top: 200px;
    left: 100px;
}

.blue {
    background-color: blue;
    top: 300px;
    left: 50px;
}

.green {
    background-color: green;
    top: 300px;
    left: 150px;
}

.transformed {
    transform: translateX(400px); 
}